<!doctype html>

<html>
    <head>
        <!-- inject:css -->
        <link rel="stylesheet" href="/app/assets/discoverappf01d6a8784c7539b0dae064ce239a7c2.css">
        <!-- endinject -->
    </head>
    <body>
        <div id="app"></div>
    </body>
    <script src="/app/bower_components/react/react.min.js" type="text/javascript"></script>
    <script src="/app/bower_components/react/JSXTransformer.js" type="text/javascript"></script>
    <script src="/app/bower_components/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="/app/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/app/bower_components/backbone/backbone-min.js" type="text/javascript"></script>
    <!-- inject:js -->
    <script src='/app/assets/discoverapp81e33a22e83220e34ac82c7a48cd62ed.js' type='text/jsx'></script>
    <!-- endinject -->
</html>